@using Takamul.Portal.Resources.Portal.News;
@using Takamul.Portal.Resources.Controls.Buttons;
@using Takamul.Portal.Resources.Common;
@using Infrastructure.Utilities
@using Infrastructure.Core
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <div class="clearfix"></div>
            <form id="frmDeclaration" class="form-horizontal" action="#" novalidate="novalidate" enctype="multipart/form-data">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h6 class="panel-title">@NewsResx.News</h6>
                        <div class="heading-elements">
                            <div class="col-md-12">
                                <div class="pull-right content-group-sm">

                                    <div class="col-md-8">
                                        <div class="input-group content-group">
                                            <div class="has-feedback has-feedback-left">
                                                <input type="text" id="txtSearchEventByName" class="form-control input-xs" placeholder="@NewsResx.SearchNews">
                                                <div class="form-control-feedback">
                                                    <i class="icon-search4 text-muted text-size-base"></i>
                                                </div>
                                            </div>

                                            <div class="input-group-btn">
                                                <button type="submit" onclick="fnBindAllNews(); return false;" class="btn btn-primary btn-xs">@Buttons.Search</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <a title="@NewsResx.AddNewNews" href="@Url.Action("PartialAddNews", "News")" class="btn btn-primary btn-xs"><i class="icon-add position-left"></i> @NewsResx.AddNewNews</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="fakeWidth col-md-12"></div>
                            <div id="dvNews">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


@section InlineScriptsRelated
{
    <script type="text/javascript">

        var sGridViewSelector = "grid-table";
        var sGridViewPagerSelector = "grid-pager";
        function fnBindAllNews() {
            ShowLoader();
            $("#dvNews").hide();
            $("#dvNews").empty();
            var table = document.createElement('table');
            table.id = sGridViewSelector;
            var pager = document.createElement('div');
            pager.id = sGridViewPagerSelector;

            $('#dvNews').append(table);
            $('#dvNews').append(pager);

            var ConstantsNames =
                {
                    ID: 'ID',
                    NewsName: 'NEWS_TITLE',
                    NewsImageFilePath: 'NEWS_IMG_FILE_PATH',
                    PublishedDate: 'PUBLISHED_DATE',
                    NotifyUser: 'IS_NOTIFY_USER',
                    IsActive: 'IS_ACTIVE',
                    CreatedDate: 'CREATED_DATE'
                };
            var sCaption = '@NewsResx.AllNews';
            var oArrColumnNames = [
                '',//Hidden Columns Represent ID Int Value
                '@NewsResx.NewsImage',
                '@NewsResx.NewsTitle',
                '@NewsResx.PublishedDate',
                '@NewsResx.NotifyUser',
                '@NewsResx.IsActive',
                '@NewsResx.CreatedDate',
                '@Buttons.Options' // Options
            ];

            //string sIncidentNo,string sIncidentName,string sFromDate,string sToDate,
            //                           string sIncidentStatus,string sIncidentType

            var vSearchEventByName = $("#txtSearchEventByName").val();
            var params = {
                'sSearchByEventName': vSearchEventByName

            };
            var sBindDataUrl = '@Url.Action("JBindAllNews", "News")' + '?' + jQuery.param(params);

            var sAddUrl = "#";
            var sEditUrl = "#";
            var sDeleteUrl = "#";
            var oArrGridContextMenu = [
                                        { MenuTitle: "@Buttons.Options" },
                                        { Caption: "@Buttons.Update", EventName: "fnEditNews();", RowId: true },
                                        { Caption: "@Buttons.Delete", EventName: "fnDeleteNews();", RowId: true },
            ];
            var oArrColsModel = [
                    {
                        name: ConstantsNames.ID, editable: false,
                        key: true, hidden: true
                    },
                      {
                          width: 100, editable: false,
                          align: EnumColumnsAlignment.Center,
                          formatter: function (cellvalue, options, rowObject) {
                              var sNewImageFilePath = rowObject.NEWS_IMG_FILE_PATH;
                              var link = "";
                              var htmlString = '--';
                              if (sNewImageFilePath != "" && sNewImageFilePath != null) {
                                  link = '@Url.Content(string.Format("{0}_#NewsImage#", CommonHelper.sGetConfigKeyValue(ConstantNames.RemoteFileServerPath)))';
                                  debugger;
                                  link = link.replace("_#NewsImage#", sNewImageFilePath);
                                  htmlString = '<img height="100" width="100" src="' + link + '" alt="Image could not display" />';

                              }
                             
                              return htmlString;
                          }
                      },
                    {
                        name: ConstantsNames.NewsName,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center
                    },
                    {
                        name: ConstantsNames.PublishedDate,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center,
                        formatter: 'date',
                        formatoptions: { srcformat: "ISO8601Long", newformat: "d/m/Y h:i A" }
                    },
                      {
                          width: 150, editable: false,
                          align: EnumColumnsAlignment.Center,
                          formatter: function (cellvalue, options, rowObject) {
                              var bIsNotify = rowObject.IS_NOTIFY_USER;
                              var htmlString = '';
                              if (bIsNotify) {
                                  htmlString += "<i class='icon-checkmark-circle text-success position-left'></i>";
                              }
                              else {
                                  htmlString += "<i class='icon-cancel-circle2 text-warning position-left'></i>";
                              }
                              return htmlString;
                          }
                      },
                    {
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center,
                        formatter: function (cellvalue, options, rowObject) {
                            var bIsActive = rowObject.IS_ACTIVE;
                            var htmlString = '';
                            if (bIsActive) {
                                htmlString += "<i class='icon-checkmark-circle text-success position-left'></i>";
                            }
                            else {
                                htmlString += "<i class='icon-cancel-circle2 text-warning position-left'></i>";
                            }
                            return htmlString;
                        }
                    },
                    {
                        name: ConstantsNames.CreatedDate,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center,
                        formatter: 'date', formatoptions: { srcformat: 'U', newformat: 'd/m/Y' }
                    }
            ];

            RenderGridView(sCaption, oArrColumnNames, sBindDataUrl, '', '', '', oArrColsModel, oArrGridContextMenu, false, false, false, table.id, pager.id, true, false, true);
            $("#" + table.id).bind('jqGridLoadComplete.jqGrid', function (e, data) {
                $("#" + table.id).jqGrid('hideCol', 'cb'); //hide checkbox

                $(window).bind('resize', function () {
                    $("#" + table.id).setGridWidth(Math.round($(".fakeWidth").width(), true));
                }).trigger('resize');


                $("#" + table.id).setGridWidth(Math.round($(".fakeWidth").width(), true)).trigger('resize');

                $("#dvNews").show();
                HideLoader();
            });
        }

        function fnEditNews() {
            var gdEvent = $('#' + sGridViewSelector);
            var vEventID = gdEvent.jqGrid('getGridParam', 'selrow');

            var link = '@Url.Action("PartialEditNews", "News", new { nNewsID = "replace" })';
            link = link.replace("replace", vEventID);

            window.location.href = link;
        }

        function fnDeleteNews() {
            var gdEvent = $('#' + sGridViewSelector);
            var vEventID = gdEvent.jqGrid('getGridParam', 'selrow');

            $("#dvPopUpWindow").dialog({
                title: '@NewsResx.DeleteNews',
                width: '30%',
                resizable: false,
                modal: true,
                open: function () {
                    var htmlToShow = "<label>@CommonResx.DeleteConfirmationMessage</label>"
                    $("#dvPopUpWindowContainer").html(htmlToShow);

                },
                buttons: [
                     {
                         text: "@Buttons.Delete",
                         "class": 'btn btn-sm bg-slate',
                         click: function () {
                             $.ajax({
                                 url: '@Url.Action("JDeleteNews", "News")',
                                 type: 'POST',
                                 data: { ID: vEventID },
                                 async: true,
                                 success: function (result, response) {
                                     if (result.nResult == 1) {
                                         ShowStatusBarNotification(result.sResultMessages, NotificationType.Success);
                                         $("#dvPopUpWindow").dialog("close");
                                         fnBindAllNews();
                                     }
                                     else {
                                         ShowStatusBarNotification(result.sResultMessages, NotificationType.Error);
                                     }
                                 },
                                 error: function (result, response) {
                                     ShowStatusBarNotification(result.sResultMessages, NotificationType.Error);
                                 }
                             });
                         }
                     },
                     {
                         text: '@Buttons.Cancel',
                         "class": 'btn btn-sm btn-default',
                         click: function () {
                             $(this).dialog("close");
                         }
                     }
                ]
            });
        }

        //Entry Point
        $(document).ready(function () {
            fnBindAllNews();
        });
    </script>
}