@using Takamul.Portal.Resources.Portal.ApplicationInfo;
@using Takamul.Portal.Resources.Controls.Buttons;
@using Takamul.Portal.Resources.Common;

@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <div class="clearfix"></div>
            <form id="frmDeclaration" class="form-horizontal" action="#" novalidate="novalidate" enctype="multipart/form-data">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h6 class="panel-title">@ApplicationInfoResx.ApplicationInfo</h6>
                        <div class="heading-elements">
                            <div class="col-md-12">
                                <div class="pull-right content-group-sm">

                                    <div class="col-md-3">
                                        <a title="@ApplicationInfoResx.AddNewApplicationInfo" href="#" onclick="fnLoadPartialAddApplicationInfo(); return false;" class="btn btn-primary btn-xs"><i class="icon-add position-left"></i> @ApplicationInfoResx.AddNewApplicationInfo</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="fakeWidth col-md-12"></div>
                            <div id="dvApplicationInfo">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section SpecificPluginScripts
{

}


@section InlineScriptsRelated
{
    <script type="text/javascript">
        var sGridViewSelector = "grid-table";
        var sGridViewPagerSelector = "grid-pager";

        function fnBindAllApplicationInfos() {
            $("#dvApplicationInfo").hide();
            $("#dvApplicationInfo").empty();

            var table = document.createElement('table');
            table.id = sGridViewSelector;
            var pager = document.createElement('div');
            pager.id = sGridViewPagerSelector;

            $('#dvApplicationInfo').append(table);
            $('#dvApplicationInfo').append(pager);


            var ConstantsNames =
                {
                    ID: 'ID',
                    ApplicationInfoTitle: 'TITLE',
                    ApplicationInfoDescription: 'DESCRIPTION'
                };
            var sCaption = '@ApplicationInfoResx.ApplicationInfo';
            var oArrColumnNames = [
                '',//Hidden Columns Represent ID Int Value
                '@ApplicationInfoResx.ApplicationInfoTitle',
                '@ApplicationInfoResx.ApplicationInfoDescription',
                '' // Options
            ];

            var sBindDataUrl = '@Url.Action("JGetAllApplicationInfo", "ApplicationInfo")';

            var sAddUrl = "#";
            var sEditUrl = "#";
            var sDeleteUrl = "#";
            var oArrGridContextMenu = [
                                        { MenuTitle: "@Buttons.Options" },
                                        { Caption: "@Buttons.Edit", EventName: "fnLoadPartialEditApplicationInfo();", RowId: true },
                                        { Caption: "@Buttons.Delete", EventName: "fnDeleteApplicationInfo();", RowId: true },
            ];

            var oArrColsModel = [
                    {
                        name: ConstantsNames.ID, editable: false,
                        key: true, hidden: true
                    },
                    {
                        name: ConstantsNames.ApplicationInfoTitle,
                        width: 150, editable: false,
                        align: EnumColumnsAlignment.Center
                    },
                     {
                         name: ConstantsNames.ApplicationInfoDescription,
                         width: 150, editable: false,
                         align: EnumColumnsAlignment.Center
                     }
            ];

            RenderGridView(sCaption, oArrColumnNames, sBindDataUrl, '', '', '', oArrColsModel, oArrGridContextMenu, false, false, false, table.id, pager.id);
            $("#" + table.id).bind('jqGridLoadComplete.jqGrid', function (e, data) {
                $("#" + table.id).jqGrid('hideCol', 'cb'); //hide checkbox

                $(window).bind('resize', function () {
                    $("#" + table.id).setGridWidth(Math.round($(".fakeWidth").width(), true));
                }).trigger('resize');


                $("#" + table.id).setGridWidth(Math.round($(".fakeWidth").width(), true)).trigger('resize');
                $("#" + pager.id).hide();
                $("#dvApplicationInfo").show();

                HideLoader();
            });
        }

        function fnLoadPartialAddApplicationInfo() {
            $("#dvPopUpWindow").dialog({
                title: '@ApplicationInfoResx.AddApplicationInfo',
                autoOpen: true,
                width: '50%',
                resizable: false,
                modal: true,
                open: function () {
                    $("#dvPopUpWindowContainer").html("");
                    $.ajax({
                        url: '@Url.Action("PartialAddApplicationInfo", "ApplicationInfo")',
                        type: 'POST',
                        contentType: 'application/json',
                        data: {},
                        async: true,
                        success: function (response) {
                            $("#dvPopUpWindowContainer").html(response);
                            fnApplicationInfoValidateInitialization("frmAddApplicationInfo");


                        },
                        error: function (response) {
                            $("#dvPopUpWindowContainer").html("");
                        }
                    });
                },
                buttons: [
                     {
                         text: "@Buttons.Save",
                         "class": 'btn btn-sm bg-slate',
                         click: function () {
                             fnSaveApplicationInfo();
                         }
                     },
                     {
                         text: '@Buttons.Cancel',
                         "class": 'btn btn-sm btn-default',
                         click: function () {
                             $(this).dialog("close");
                         }
                     }
                ]
            });
        }

        function fnApplicationInfoValidateInitialization(sFormID) {
            var validator = $('#' + sFormID).validate({
                errorElement: 'div',
                errorClass: 'validation-error-label',
                focusInvalid: true,
                ignore: "",
                rules: {
                    TITLE: {
                        required: true
                    },
                    DESCRIPTION: {
                        required: true
                    }
                },
                messages: {
                    TITLE: "@CommonResx.ThisFieldIsRequired",
                    DESCRIPTION: "@CommonResx.ThisFieldIsRequired"
                },
                highlight: function (e) {
                    $(e).closest('.error-placement').removeClass('has-info').addClass('has-error');
                },
                success: function (e) {
                    $(e).closest('.error-placement').removeClass('has-error');
                    $(e).remove();
                },
                errorPlacement: function (error, element) {
                    // Styled checkboxes, radios, bootstrap switch
                    if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                        if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                            error.appendTo(element.parent().parent().parent().parent());
                        }
                        else {
                            error.appendTo(element.parent().parent().parent().parent().parent());
                        }
                    }

                        // Unstyled checkboxes, radios
                    else if (element.parents('div').hasClass('checkbox') || element.parents('div').hasClass('radio')) {
                        error.appendTo(element.parent().parent().parent());
                    }

                        // Input with icons and Select2
                    else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                        error.appendTo(element.parent());
                    }

                        // Inline checkboxes, radios
                    else if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                        error.appendTo(element.parent().parent());
                    }

                        // Input group, styled file input
                    else if (element.parent().hasClass('uploader') || element.parents().hasClass('input-group')) {
                        error.appendTo(element.parent().parent());
                    }

                    else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                },
                invalidHandler: function (form) {

                }
            });
        }

        function fnSaveApplicationInfo() {
            if (!$("#frmAddApplicationInfo").valid()) {
                return false;
            }
            var formData = $("#frmAddApplicationInfo").serialize();

            $.ajax({
                url: '@Url.Action("JSaveApplicationInfo", "ApplicationInfo")',
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (result) {
                    if (result.nResult == 1) {
                        ShowStatusBarNotification(result.sResultMessages, NotificationType.Success);
                        $("#dvPopUpWindow").dialog("close");
                        fnBindAllApplicationInfos();
                    }
                    else if (result.nResult == -2) {
                        ShowStatusBarNotification(result.sResultMessages, NotificationType.Warning);
                        $("#dvPopUpWindow").dialog("close");
                    }
                    else {
                        ShowStatusBarNotification(result.sResultMessages, NotificationType.Error);
                    }


                },
                error: function () {

                }
            })
        }

        function fnLoadPartialEditApplicationInfo() {

            var gdApplicationInfo = $('#' + sGridViewSelector);
            var vApplicationInfoID = gdApplicationInfo.jqGrid('getGridParam', 'selrow');
            var rowData = gdApplicationInfo.getRowData(vApplicationInfoID);

            var sApplicationInfoTitle = rowData.TITLE;
            var sApplicationInfoDesc = rowData.DESCRIPTION;

            var dataToSend = JSON.stringify({
                ID: vApplicationInfoID,
                TITLE: sApplicationInfoTitle,
                DESCRIPTION: sApplicationInfoDesc
            });

            $("#dvPopUpWindow").dialog({
                title: '@ApplicationInfoResx.EditApplicationInfo',
                autoOpen: true,
                width: '50%',
                resizable: false,
                modal: true,
                open: function () {
                    $("#dvPopUpWindowContainer").html("");
                    $.ajax({
                        url: '@Url.Action("PartialEditApplicationInfo", "ApplicationInfo")',
                        type: 'POST',
                        contentType: 'application/json',
                        data: dataToSend,
                        async: true,
                        success: function (response) {
                            $("#dvPopUpWindowContainer").html(response);
                            fnApplicationInfoValidateInitialization("frmEditApplicationInfo");

                        },
                        error: function (response) {
                            $("#dvPopUpWindowContainer").html("");
                        }
                    });
                },
                buttons: [
                     {
                         text: "@Buttons.Update",
                         "class": 'btn btn-sm bg-slate',
                         click: function () {
                             fnEditApplicationInfo();
                         }
                     },
                     {
                         text: '@Buttons.Cancel',
                         "class": 'btn btn-sm btn-default',
                         click: function () {
                             $(this).dialog("close");
                         }
                     }
                ]
            });
        }


        function fnEditApplicationInfo() {
            if (!$("#frmEditApplicationInfo").valid()) {
                return false;
            }
            var formData = $("#frmEditApplicationInfo").serialize();

            $.ajax({
                url: '@Url.Action("JEditApplicationInfo", "ApplicationInfo")',
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (result) {
                    if (result.nResult == 1) {
                        ShowStatusBarNotification(result.sResultMessages, NotificationType.Success);
                        $("#dvPopUpWindow").dialog("close");
                        fnBindAllApplicationInfos();
                    }
                    else {
                        ShowStatusBarNotification(result.sResultMessages, NotificationType.Error);
                    }


                },
                error: function () {

                }
            })
        }

        function fnDeleteApplicationInfo() {
            var gdApplicationInfo = $('#' + sGridViewSelector);
            var vApplicationInfoID = gdApplicationInfo.jqGrid('getGridParam', 'selrow');

            $("#dvPopUpWindow").dialog({
                title: '@ApplicationInfoResx.DeleteApplicationInfo',
                autoOpen: true,
                width: '30%',
                resizable: false,
                modal: true,
                open: function () {
                    var htmlToShow = "<label>@CommonResx.DeleteConfirmationMessage</label>"
                    $("#dvPopUpWindowContainer").html(htmlToShow);

                },
                buttons: [
                     {
                         text: "@Buttons.Delete",
                         "class": 'btn btn-sm bg-slate',
                         click: function () {
                             $.ajax({
                                 url: '@Url.Action("JDeleteApplicationInfo", "ApplicationInfo")',
                                 type: 'POST',
                                 data: { ID: vApplicationInfoID },
                                 async: true,
                                 success: function (result, response) {
                                     if (result.nResult == 1) {
                                         ShowStatusBarNotification(result.sResultMessages, NotificationType.Success);
                                         $("#dvPopUpWindow").dialog("close");
                                         fnBindAllApplicationInfos();
                                     }
                                     else {
                                         ShowStatusBarNotification(result.sResultMessages, NotificationType.Error);
                                     }
                                 },
                                 error: function (result, response) {
                                     ShowStatusBarNotification(result.sResultMessages, NotificationType.Error);
                                 }
                             });
                         }
                     },
                     {
                         text: '@Buttons.Cancel',
                         "class": 'btn btn-sm btn-default',
                         click: function () {
                             $(this).dialog("close");
                         }
                     }
                ]
            });
        }

        //Entry Point
        $(document).ready(function () {
            fnBindAllApplicationInfos();
        });
    </script>
}