@model Takamul.Models.ViewModel.ApplicationViewModel
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Application Name</th>
                <th>Exipry Date</th>
                <th>Member Name</th>
                <th>Created Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="success">
                <td>@Model.APPLICATION_NAME</td>
                <td>@Model.APPLICATION_EXPIRY_DATE.ToShortDateString()</td>
                <td>@Model.MemberName</td>
                <td>@Model.CREATED_DATE.ToShortDateString()</td>
                <td>@Model.IS_ACTIVE</td>
            </tr>
        </tbody>
    </table>
</div>
<hr></hr>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-body bg-blue-400 has-bg-image">
            <div class="media no-margin">
                <div class="media-body">
                    <h3 class="no-margin">@Model.TotalMobileUserCount</h3>
                    <span class="text-uppercase text-size-mini">Mobile users</span>
                </div>

                <div class="media-right media-middle">
                    <i class="icon-users4 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-body bg-blue-400 has-bg-image">
            <div class="media no-margin">
                <div class="media-body">
                    <h3 class="no-margin">@Model.TotalTicketCount</h3>
                    <span class="text-uppercase text-size-mini">total Tickets</span>
                </div>

                <div class="media-right media-middle">
                    <i class="icon-comment-discussion icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-body bg-blue-400 has-bg-image">
            <div class="media no-margin">
                <div class="media-body">
                    <h3 class="no-margin">@Model.TotalTicketChatCount</h3>
                    <span class="text-uppercase text-size-mini">total messages</span>
                </div>

                <div class="media-right media-middle">
                    <i class="icon-comment-discussion icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    @*<div class="col-sm-6 col-md-3">
            <div class="panel panel-body bg-blue-400 has-bg-image">
                <div class="media no-margin">
                    <div class="media-body">
                        <h3 class="no-margin">54,390</h3>
                        <span class="text-uppercase text-size-mini">total comments</span>
                    </div>

                    <div class="media-right media-middle">
                        <i class="icon-bubbles4 icon-3x opacity-75"></i>
                    </div>
                </div>
            </div>
        </div>*@
</div>


<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Support tickets<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>

    </div>

    <div class="table-responsive">
        <table class="table table-xlg text-nowrap">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <div class="media-left media-middle">
                            <div id="tickets-status">
                                <svg width="42" height="42"><g transform="translate(21,21)"><g class="d3-arc" style="stroke: rgb(255, 255, 255); cursor: pointer;"><path d="M1.1634144591899855e-15,19A19,19 0 0,1 -12.326087772183463,-14.459168725498339L-6.163043886091732,-7.229584362749169A9.5,9.5 0 0,0 5.817072295949927e-16,9.5Z" style="fill: rgb(41, 182, 246);" transform=""></path></g><g class="d3-arc" style="stroke: rgb(255, 255, 255); cursor: pointer;"><path style="fill: rgb(102, 187, 106);" d="M-12.326087772183463,-14.459168725498339A19,19 0 0,1 14.331188229058796,-12.474656065130077L7.165594114529398,-6.237328032565038A9.5,9.5 0 0,0 -6.163043886091732,-7.229584362749169Z"></path></g><g class="d3-arc" style="stroke: rgb(255, 255, 255); cursor: pointer;"><path style="fill: rgb(239, 83, 80);" d="M14.331188229058796,-12.474656065130077A19,19 0 0,1 5.817072295949928e-15,19L2.908536147974964e-15,9.5A9.5,9.5 0 0,0 7.165594114529398,-6.237328032565038Z"></path></g></g></svg>
                            </div>
                        </div>

                        <div class="media-left">
                            <h5 class="text-semibold no-margin">@Model.TotalTicketOpenCount </h5>
                            <span class="text-muted"><span class="status-mark border-success position-left"></span> Open Tickets </span>
                        </div>
                    </td>

                    <td class="col-md-3">
                        <div class="media-left media-middle">
                            <a href="#" class="btn border-indigo-400 text-indigo-400 btn-flat btn-rounded btn-xs btn-icon"><i class="icon-alarm-add"></i></a>
                        </div>

                        <div class="media-left">
                            <h5 class="text-semibold no-margin">
                                @Model.TotalTicketClosedCount <small class="display-block no-margin">total closed tickets</small>
                            </h5>
                        </div>
                    </td>

                    @*<td class="col-md-3">
                            <div class="media-left media-middle">
                                <a href="#" class="btn border-indigo-400 text-indigo-400 btn-flat btn-rounded btn-xs btn-icon"><i class="icon-spinner11"></i></a>
                            </div>

                            <div class="media-left">
                                <h5 class="text-semibold no-margin">
                                    06:25:00 <small class="display-block no-margin">recent response time</small>
                                </h5>
                            </div>
                        </td>*@

                    <td class="text-right col-md-2">
                        <a href="@Url.Action("TicketsList", "Tickets")" class="btn bg-teal-400"><i class="icon-comment-discussion position-left"></i> Go To Tickets</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table text-nowrap">
            <thead>
                <tr>
                    <th style="width: 50px">Due</th>
                    <th style="width: 300px;">User</th>
                    <th>Description</th>
                    <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr class="active border-double">
                    <td colspan="4">Active tickets</td>
                </tr>

                <!-- ko foreach: vmaActiveTickets -->
                <tr>
                    <td class="text-center">
                        <h6 class="no-margin"><span data-bind="text: nTicketChatTimeValue"></span><small class="display-block text-size-small no-margin"><span data-bind="text: nTicketChatTimeText"></span></small></h6>
                    </td>
                    <td>
                        <div class="media-left media-middle">
                            <a href="#" class="btn bg-teal-400 btn-rounded btn-icon btn-xs">
                                <span class="letter-icon" data-bind="text: sParticipantFirstChar"></span>
                            </a>
                        </div>

                        <div class="media-body">
                            <a href="#" class="display-inline-block text-default text-semibold letter-icon-title"><span data-bind="text: sMobileParticipantName"></span></a>
                            <div class="text-muted text-size-small"><span class="status-mark border-blue position-left"></span> <span data-bind="text: sTicketStatusName"></span></div>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="text-default display-inline-block">
                            <span class="text-semibold" data-bind="html: sTicketName"></span>
                            <span class="display-block text-muted" data-bind="text: sLastTicketChatMessage"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a data-bind="attr: { 'href': '@Url.Action("TicketDetails", "Tickets")?nTicketID=' + nTicketID }"><i class="icon-undo"></i> Quick Reply</a></li>
                                    @*<li class="divider"></li>*@
                                    @*<li><a href="#"><i class="icon-cross2 text-danger"></i> Reject ticket</a></li>
                                    <li><a href="#"><i class="icon-checkmark3 text-success"></i> Close ticket</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                <!-- /ko -->

                <tr class="active border-double">
                    <td colspan="4">Closed tickets</td>
                </tr>

                <!-- ko foreach: vmaClosedTickets -->
                <tr>
                    <td class="text-center">
                        <i class="icon-checkmark3 text-success"></i>
                    </td>
                    <td>
                        <div class="media-left media-middle">
                            <a href="#" class="btn bg-teal-400 btn-rounded btn-icon btn-xs">
                                <span class="letter-icon" data-bind="text: sParticipantFirstChar"></span>
                            </a>
                        </div>

                        <div class="media-body">
                            <a href="#" class="display-inline-block text-default text-semibold letter-icon-title"><span data-bind="text: sMobileParticipantName"></span></a>
                            <div class="text-muted text-size-small"><span class="status-mark border-blue position-left"></span> <span data-bind="text: sTicketStatusName"></span></div>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="text-default display-inline-block">
                            <span class="text-semibold" data-bind="html: sTicketName"></span>
                            <span class="display-block text-muted" data-bind="text: sLastTicketChatMessage"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a data-bind="attr: { 'href': '@Url.Action("TicketDetails", "Tickets")?nTicketID=' + nTicketID }"><i class="icon-undo"></i> Quick Reply</a></li>
                                    @*<li class="divider"></li>*@
                                    @*<li><a href="#"><i class="icon-spinner11 text-blue"></i> ReOpen Ticket</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                <!-- /ko -->



                <tr class="active border-double">
                    <td colspan="4">Rejected tickets</td>
                </tr>

                <!-- ko foreach: vmaRejectedTickets -->
                <tr>
                    <td class="text-center">
                        <i class="icon-cross2 text-danger-400"></i>
                    </td>
                    <td>
                        <div class="media-left media-middle">
                            <a href="#" class="btn bg-teal-400 btn-rounded btn-icon btn-xs">
                                <span class="letter-icon" data-bind="text: sParticipantFirstChar"></span>
                            </a>
                        </div>

                        <div class="media-body">
                            <a href="#" class="display-inline-block text-default text-semibold letter-icon-title"><span data-bind="text: sMobileParticipantName"></span></a>
                            <div class="text-muted text-size-small"><span class="status-mark border-blue position-left"></span> <span data-bind="text: sTicketStatusName"></span></div>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="text-default display-inline-block">
                            <span class="text-semibold" data-bind="html: sTicketName"></span>
                            <span class="display-block text-muted" data-bind="text: sLastTicketChatMessage"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropup">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a data-bind="attr: { 'href': '@Url.Action("TicketDetails", "Tickets")?nTicketID=' + nTicketID }"><i class="icon-undo"></i> Quick Reply</a></li>
                                    @*<li class="divider"></li>*@
                                    @*<li><a href="#"><i class="icon-spinner11 text-blue"></i> ReOpen Ticket</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>

        </table>
    </div>
</div>


@section InlineScriptsRelated
{
    <script type="text/javascript">

        //Incident status
        var enmTicketStatus = {
            Open: 1,
            Closed: 2,
            Rejected: 3
        }


        function fnGetTop5Tickets() {

            $.ajax({
                url: '@Url.Action("JGetTop5Tickets", "Tickets")',
                type: 'GET',
                contentType: 'application/json',
                data: {},
                async: true,
                success: function (response) {
                    ViewModel.vmaActiveTickets.removeAll();
                    var current = moment();

                    response.lstOpenTickets.forEach(function (arrItem) {
                        var ticketChatCreatedDate = moment(arrItem.LastTicketChatCreatedDate);
                        var oarrResponse = fnTimeDifference(current, ticketChatCreatedDate)

                        var ParticipantFirstName = arrItem.MobileParticipantName == null ? "---" : arrItem.MobileParticipantName;
                        var oItem = {
                            nTicketID: arrItem.ID,
                            sParticipantFirstChar: ParticipantFirstName.charAt(0),
                            sMobileParticipantName: arrItem.MobileParticipantName,
                            sLastTicketChatMessage: arrItem.LastTicketChatMessage == null ? " -- " : arrItem.LastTicketChatMessage,
                            sTicketCode: arrItem.TICKET_CODE,
                            sTicketName: '[<span class="text-info">' + arrItem.TICKET_CODE + '</span>] ' + arrItem.TICKET_NAME,
                            sTicketStatusName: arrItem.TICKET_STATUS_NAME,
                            LastTicketChatCreatedDate: moment(arrItem.LastTicketChatCreatedDate).format("DD/MM/YYYY HH:mm A"),
                            nTicketChatTimeValue: oarrResponse.Value,
                            nTicketChatTimeText: oarrResponse.Text
                        };

                        ViewModel.AddToActiveTickets(oItem);
                    });

                    ViewModel.vmaClosedTickets.removeAll();
                    response.lstClosedTickets.forEach(function (arrItem) {
                        var ticketChatCreatedDate = moment(arrItem.LastTicketChatCreatedDate);
                        var oarrResponse = fnTimeDifference(current, ticketChatCreatedDate)

                        var oItem = {
                            nTicketID: arrItem.ID,
                            sParticipantFirstChar: arrItem.MobileParticipantName.charAt(0),
                            sMobileParticipantName: arrItem.MobileParticipantName,
                            sLastTicketChatMessage: arrItem.LastTicketChatMessage == null ? " -- " : arrItem.LastTicketChatMessage,
                            sTicketCode: arrItem.TICKET_CODE,
                            sTicketName: '[' + arrItem.TICKET_CODE + '] ' + arrItem.TICKET_NAME,
                            sTicketStatusName: arrItem.TICKET_STATUS_NAME,
                            LastTicketChatCreatedDate: moment(arrItem.LastTicketChatCreatedDate).format("DD/MM/YYYY HH:mm A"),
                            nTicketChatTimeValue: oarrResponse.Value,
                            nTicketChatTimeText: oarrResponse.Text

                        };

                        ViewModel.AddToClosedTickets(oItem);
                    });

                    ViewModel.vmaRejectedTickets.removeAll();
                    response.lstRejectedTickets.forEach(function (arrItem) {
                        var ticketChatCreatedDate = moment(arrItem.LastTicketChatCreatedDate);
                        var oarrResponse = fnTimeDifference(current, ticketChatCreatedDate)
                        var oItem = {
                            nTicketID: arrItem.ID,
                            sParticipantFirstChar: arrItem.MobileParticipantName.charAt(0),
                            sMobileParticipantName: arrItem.MobileParticipantName,
                            sLastTicketChatMessage: arrItem.LastTicketChatMessage == null ? " -- " : arrItem.LastTicketChatMessage,
                            sTicketCode: arrItem.TICKET_CODE,
                            sTicketName: '[' + arrItem.TICKET_CODE + '] ' + arrItem.TICKET_NAME,
                            sTicketStatusName: arrItem.TICKET_STATUS_NAME,
                            LastTicketChatCreatedDate: moment(arrItem.LastTicketChatCreatedDate).format("DD/MM/YYYY HH:mm A"),
                            nTicketChatTimeValue: oarrResponse.Value,
                            nTicketChatTimeText: oarrResponse.Text
                        };

                        ViewModel.AddToRejectedTickets(oItem);
                    });

                },
                error: function (response) {
                    lstTicketChats = null;
                }
            })

        }

        function fnTimeDifference(current, previous) {

            var nValue;
            var sText;

            var msPerMinute = 60 * 1000;
            var msPerHour = msPerMinute * 60;
            var msPerDay = msPerHour * 24;
            var msPerMonth = msPerDay * 30;
            var msPerYear = msPerDay * 365;

            var elapsed = current - previous;

            if (elapsed < msPerMinute) {
                nValue = Math.round(elapsed / 1000);
                sText = "Seconds"
            }

            else if (elapsed < msPerHour) {
                nValue = Math.round(elapsed / msPerMinute);
                sText = "Minutes";
            }

            else if (elapsed < msPerDay) {
                nValue = Math.round(elapsed / msPerHour);
                sText = "Hours";
            }

            else if (elapsed < msPerMonth) {
                nValue = Math.round(elapsed / msPerDay);
                sText = "Days";
            }

            else if (elapsed < msPerYear) {
                nValue = Math.round(elapsed / msPerMonth);
                sText = "Months";
            }

            else {
                nValue = Math.round(elapsed / msPerYear);
                sText = "Years";
            }

            return { Value: nValue, Text: sText };
        }

        //Knockout ViewModel
        $(document).ready(function () {
            ViewModel = function () {
                var self = this;

                //Active Tickets
                self.vmaActiveTickets = ko.observableArray([]);
                self.fnAddToActiveTickets = function (oItem) {
                    self.vmaActiveTickets.push(ko.utils.extend({}, oItem));
                }

                //Closed Tickets
                self.vmaClosedTickets = ko.observableArray([]);
                self.fnAddToClosedTickets = function (oItem) {
                    self.vmaClosedTickets.push(ko.utils.extend({}, oItem));
                }

                //Rejected Tickets
                self.vmaRejectedTickets = ko.observableArray([]);
                self.fnAddToRejectedTickets = function (oItem) {
                    self.vmaRejectedTickets.push(ko.utils.extend({}, oItem));
                }
                return {
                    vmaActiveTickets: vmaActiveTickets,
                    AddToActiveTickets: fnAddToActiveTickets,
                    vmaClosedTickets: vmaClosedTickets,
                    AddToClosedTickets: fnAddToClosedTickets,
                    vmaRejectedTickets: vmaRejectedTickets,
                    AddToRejectedTickets: fnAddToRejectedTickets
                };
            }();
        });
        //EndKnockout ViewModel

        //Entry Point
        $(document).ready(function () {

            ko.applyBindings(ViewModel);
            fnGetTop5Tickets();

        });
    </script>
}
