@model Takamul.Models.ViewModel.MemberInfoViewModel

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmEditMemberInfo", @class = "form-horizontal" }))
{
    <div class="panel panel-flat">
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.APPLICATION_ID)

            @* Member Info Title*@
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Title&nbsp;<span class="text-danger">*</span></label>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.MEMBER_INFO_TITLE, new { htmlAttributes = new { @class = "form-control", placeholder = "member info title" } })
                        </div>
                    </div>

                </div>
            </div>

            @*Member Info Description*@
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Description&nbsp;<span class="text-danger">*</span></label>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.MEMBER_INFO_DESCRIPTION, new { htmlAttributes = new { @class = "form-control", placeholder = "member info description" } })
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
}
