@model Takamul.Models.ViewModel.ApplicationSettingsViewModel
@using Takamul.Portal.Resources.Portal.ApplicationSettings;

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmEditApplicationSettings", @class = "form-horizontal" }))
{
    <div class="panel panel-flat">
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.APPLICATION_ID)

            @* Application Settings Title*@
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">@ApplicationSettingsResx.Name&nbsp;<span class="text-danger">*</span></label>
                        <div class="col-lg-8">
                            @Html.DisplayFor(model => model.SETTINGS_NAME)
                        </div>
                    </div>

                </div>
            </div>

            @*Application Settings Description*@
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">@ApplicationSettingsResx.Value&nbsp;<span class="text-danger">*</span></label>
                        <div class="col-lg-8">
                            @Html.TextAreaFor(model => model.SETTINGS_VALUE, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
}
