@using Infrastructure.Utilities;
@using System.Web.Optimization;
@using Takamul.Portal.Resources.Common;
@using Takamul.Portal.Resources.Controls.GridView;
@{
    BaseController oBaseController = (BaseController)ViewContext.Controller;// Reference Base Controller

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="meta desciption" />
    <meta name="keywords" content="meta keywords" />
    <title>@oBaseController.PageTitle</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    @Styles.Render("~/bundles/CoreStyles")
    <!-- /global stylesheets -->
    <!-- Core CSS Utilities -->
    @Styles.Render("~/bundles/CoreStyleUtilities")
    <!-- core CSS Utilities -->
    <link rel="stylesheet" href='@Url.Content("~/assets/css/jqGrid/ui.jqgrid.css")' />
    <link href='@Url.Content("~/assets/css/jqGrid/GridContextMenu.css")' rel="stylesheet" />
    <link href='@Url.Content("~/assets/css/jqGrid/jqgrid.style.css")' rel="stylesheet" />
    @RenderSection("SpecificPluginStyles", false)
</head>
<body>
    <script type="text/javascript">
        var LoaderImagePath = '@Url.Content("~/Images/login_logo.png")';
    </script>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Takamul Services</a>
            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                @*<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/assets/images/profile.jpg" alt="">
                        <span>@BaseController.CurrentUser.sUserName</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="@Url.Action("LogOut", "Account", new { area = "" })"><i class="icon-switch2"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">
                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="#" class="media-left"><img src="~/assets/images/Profile.jpg" class="img-circle img-sm" alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">@BaseController.CurrentUser.sUserName</span>
                                    <div class="text-size-mini text-muted">
                                        <a href="#"><i class="icon-cog3 text-white"></i></a> &nbsp;@BaseController.CurrentUser.sUserTypeName
                                    </div>
                                </div>
                                @*<div class="media-right media-middle">
                                        <ul class="icons-list">
                                            <li>
                                                <a href="#"><i class="icon-cog3"></i></a>
                                            </li>
                                        </ul>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">
                                <!-- Main -->
                                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                                <li><a href="#"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                             
                                <li><a href="@Url.Action("ApplicationsList", "Applications")" id="layout1"><i class="icon-list-unordered"></i> All Applications</a></li>

                                <li><a href="#"><i class="icon-list-unordered"></i> <span>My Application</span></a></li>

                                <!-- Appearance -->
                                <li class="navigation-header"><span>Reports</span> <i class="icon-menu" title="Appearance"></i></li>
                                <li>
                                    <a href="#"><i class="icon-list-unordered"></i> <span>Applications</span></a>
                                    <ul>
                                        <li><a href="#">Reports 1</a></li>
                                        <li><a href="#">Reports 2</a></li>
                                        <li><a href="#">Reports 3</a></li>
                                    </ul>
                                </li>
                                <!-- /appearance -->
                                <!-- Appearance -->
                                @*<li class="navigation-header"><span>Settings</span> <i class="icon-menu" title="Appearance"></i></li>
                                <li>
                                    <a href="#"><i class="icon-list-unordered"></i> <span>User Management</span></a>
                                    <ul>
                                        <li><a href="#">Users</a></li>
                                        <li><a href="#">Roles</a></li>
                                        <li><a href="#">Role Privillages</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-list-unordered"></i> <span>Master Data</span></a>
                                    <ul></ul>
                                </li>*@
                                <!-- /appearance -->
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            @if (!String.IsNullOrEmpty(oBaseController.TitleHead))
                            {
                                <h4>
                                    <i class="icon-stack2 position-left"></i>
                                    <span class="text-semibold">
                                        @oBaseController.TitleHead
                                    </span>
                                </h4>
                            }


                        </div>
                    </div>
                    <div class="breadcrumb-line no-padding">
                        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                        <!-- Navigation with mega menu -->
                        <div class="navbar navbar-inverse bg-brown-300 navbar-component" style="position: relative; z-index: 30;">
                            <div class="navbar-header visible-xs-block">
                                <a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>

                                <ul class="nav navbar-nav pull-right">
                                    <li><a data-toggle="collapse" data-target="#demo1"><i class="icon-tree5"></i></a></li>
                                </ul>
                            </div>

                            <div class="navbar-collapse collapse" id="demo1">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="#" ><i class="icon-list-unordered"></i>&nbsp;DashBoard </a>

                                        
                                    </li>

                                    <li class="dropdown mega-menu mega-menu-wide">
                                        <a href="#" ><i class="icon-list-unordered"></i>&nbsp;Tickets</a>

                                        
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" aria-expanded="false"><i class="icon-list-unordered"></i>&nbsp;News </a>
                                        
                                    </li>

                                    <li class="dropdown">
                                        <a href="#"><i class="icon-list-unordered"></i>&nbsp;Events </a>
                                        
                                    </li>

                                    <li class="dropdown mega-menu mega-menu-wide">
                                        <a href="#"><i class="icon-list-unordered"></i>&nbsp;Users </a>
                                        
                                    </li>
                                </ul>

                                
                            </div>
                        </div>
                        <!-- /navigation with mega menu -->
                    </div>

                </div>
                <div class="content">
                    <div id="dvPopUpWindow" style="display:none">
                        <div id="dvPopUpWindowContainer"></div>
                    </div>
                    @RenderBody()

                </div>

            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    @*System Loader*@
    <div id="fakeloader" style="display:none;opacity: 0.5">
    </div>
    <script>
        var EnumColumnsAlignment = { Center: "Center", Right: "Right", Left: "Left" };
        var EnumColumnsTypes = { TextArea: "textarea", CheckBox: "checkbox", Select: "select" };

        var UlDir = '@CommonResx.LayoutDirectionOpposite';

        var GridViewId = "grid-table";
        var GridViewPagerId = "grid-pager";

        var GridViewResources = {
            Direction: '@GridView.Direction',
            FloatingLeft: '@GridView.FloatingLeft',
            FloatingRight: '@GridView.FloatingRight',
            TextAlign: '@GridView.TextAlign',
            SinglePagerArrowLeft: '@GridView.SinglePagerArrowLeft',
            SinglePagerArrowRight: '@GridView.SinglePagerArrowRight'
        }
    </script>

    <!-- Core JS files -->
    @Scripts.Render("~/bundles/CoreScripts")
    <!-- core JS files -->


    <!-- Core Js Utilities -->
    @Scripts.Render("~/bundles/CoreScriptUtilities")
    <!-- core JS Utilities -->

    <script src='@Url.Content("~/assets/js/jqGrid/i18n/grid.locale-en.js")'></script>
    <script src='@Url.Content("~/assets/js/jqGrid/jquery.jqGrid.src.js")'></script>
    <script src='@Url.Content("~/assets/js/jqGrid/RenderGridView.js")'></script>

    @RenderSection("SpecificPluginScripts", false)
    @RenderSection("InlineScriptsRelated", false)
    <script type="text/javascript">

        $(document).ajaxStart(function () {
            ShowLoader();
        });

        $(document).ajaxStop(function () {
            HideLoader();
        });

        $(document).ajaxSuccess(function () {
            ShowLoader();
        });
    </script>

</body>
</html>