@using Infrastructure.Utilities;
@using System.Web.Optimization;
@using Takamul.Portal.Resources.Common;
@using Takamul.Portal.Resources.Controls.GridView;
@using Takamul.Portal.App_Code;
@{
    BaseController oBaseController = (BaseController)ViewContext.Controller;// Reference Base Controller

}
<!DOCTYPE html>
<html dir="@CommonResx.Direction">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="meta desciption" />
    <meta name="keywords" content="meta keywords" />
    <title>@oBaseController.PageTitle</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">

    @if (oBaseController.CurrentApplicationLanguage == Data.Core.Languages.Arabic)
    {
        <link href='@Url.Content("~/assets/css/components-rtl.css")' rel="stylesheet" />
        <link href='@Url.Content("~/assets/css/bootstrap-rtl.css")' rel="stylesheet" />
        <link href='@Url.Content("~/assets/css/core-rtl.css")' rel="stylesheet" />
    }
    else
    {
        <link href='@Url.Content("~/assets/css/components.css")' rel="stylesheet" />
        <link href='@Url.Content("~/assets/css/bootstrap.css")' rel="stylesheet" />
        <link href='@Url.Content("~/assets/css/core.css")' rel="stylesheet" />
    }

    @Styles.Render("~/bundles/CoreStyles")


    <!-- /global stylesheets -->
    <!-- Core CSS Utilities -->
    @Styles.Render("~/bundles/CoreStyleUtilities")
    <!-- core CSS Utilities -->

    <link rel="stylesheet" href='@Url.Content("~/assets/css/jqGrid/ui.jqgrid.css")' />
    <link href='@Url.Content("~/assets/css/jqGrid/GridContextMenu.css")' rel="stylesheet" />
    <link href='@Url.Content("~/assets/css/jqGrid/jqgrid.style.css")' rel="stylesheet" />
    @RenderSection("SpecificPluginStyles", false)
</head>
<body class="@CommonResx.BodyClass">
    <script type="text/javascript">
        var LoaderImagePath = '@Url.Content("~/assets/Images/loader.png")';
        var UlDir = '@CommonResx.LayoutDirectionOpposite';
    </script>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">@CommonResx.TakamulServices</a>
            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                @*<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/assets/images/profile.jpg" alt="">
                        <span>@BaseController.CurrentUser.sUserName</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        @if (oBaseController.CurrentApplicationLanguage == Data.Core.Languages.Arabic)
                        {
                            <li>
                                <a href="#" onclick="fnSetLanguage(2); return false;"><i class="icon-mirror"></i> English</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="#" onclick="fnSetLanguage(1); return false;"><i class="icon-mirror"></i> Arabic</a>
                            </li>
                        }
                        <li>
                            <a href="@Url.Action("LogOut", "Account", new { area = "" })"><i class="icon-switch2"></i> @CommonResx.Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">
                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="#" class="media-left"><img src="~/assets/images/Profile.jpg" class="img-circle img-sm" alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">@BaseController.CurrentUser.sUserName</span>
                                    <div class="text-size-mini text-muted">
                                        <a href="#"><i class="icon-cog3 text-white"></i></a> &nbsp;@BaseController.CurrentUser.sUserTypeName
                                    </div>
                                </div>
                                @*<div class="media-right media-middle">
                                        <ul class="icons-list">
                                            <li>
                                                <a href="#"><i class="icon-cog3"></i></a>
                                            </li>
                                        </ul>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">
                                <!-- Main -->
                                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>

                                @if (BaseController.CurrentUser.UserType == Infrastructure.Core.enumUserType.Admin)
                                {
                                    @*<li><a href="#"><i class="icon-home4"></i> <span>Dashboard</span></a></li>*@

                                    <li class="active"><a href="@Url.Action("ApplicationsList", "Applications")" id="layout1"><i class="icon-list-unordered"></i> @CommonResx.AllApplications</a></li>
                                    <li><a href="@Url.Action("MembersList", "Member")" id="layout1"><i class="icon-users"></i> @CommonResx.AllMembers</a></li>
                                }
                                else
                                {
                                    <li class="active"><a href="#" onclick="fnGoToApplicationDetais(@BaseController.CurrentUser.CurrentApplicationID)"><i class="icon-list-unordered"></i> <span>@CommonResx.MyApplication</span></a></li>
                                }
                                <!-- Appearance -->
                                @*<li class="navigation-header"><span>Reports</span> <i class="icon-menu" title="Appearance"></i></li>
                                    <li>
                                        <a href="#"><i class="icon-list-unordered"></i> <span>Applications</span></a>
                                        <ul>
                                            <li><a href="#">Reports 1</a></li>
                                            <li><a href="#">Reports 2</a></li>
                                            <li><a href="#">Reports 3</a></li>
                                        </ul>
                                    </li>*@
                                <!-- /appearance -->
                                <!-- Appearance -->
                                @*<li class="navigation-header"><span>Settings</span> <i class="icon-menu" title="Appearance"></i></li>
                                    <li>
                                        <a href="#"><i class="icon-list-unordered"></i> <span>User Management</span></a>
                                        <ul>
                                            <li><a href="#">Users</a></li>
                                            <li><a href="#">Roles</a></li>
                                            <li><a href="#">Role Privillages</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-list-unordered"></i> <span>Master Data</span></a>
                                        <ul></ul>
                                    </li>*@
                                <!-- /appearance -->
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            @if (!String.IsNullOrEmpty(oBaseController.TitleHead))
                            {
                                <h4>
                                    <i class="icon-stack2 position-left"></i>
                                    <span class="text-semibold">
                                        @oBaseController.TitleHead
                                    </span>
                                    <small class="display-block">@CommonResx.AppName<i class="icon-arrow-right14 position-left"></i><span class="text-primary">@oBaseController.CurrentApplicationName</span> </small>
                                </h4>
                            }
                        </div>
                        @if (BaseController.CurrentUser.UserType == Infrastructure.Core.enumUserType.Admin)
                        {
                            <div class="heading-elements">
                                <div class="heading-btn-group">
                                    <a title="@CommonResx.GoBackToAllApplication" href="@Url.Action("ApplicationsList", "Applications")" class="btn bg-brown-300 btn-xs heading-btn"><i class="fa fa-mail-reply-all position-left"></i> @CommonResx.BackToList</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="breadcrumb-line no-padding">
                        <div class="text-center pl-20 pr-20 mt-20 mb-20 btn-group btn-group-justified">
                            <a href="@Url.Action("AppDashboard", "ApplicationDashboard")" class="btn bg-blue-300 btn-float btn-float-md ml-20 btn-rounded @Url.sMakeMenuActive("AppDashboard", "ApplicationDashboard", "")">
                                <i class="icon-home4"></i>
                                <span>@CommonResx.AppDashBoard</span>
                            </a>
                            <a href="@Url.Action("MemberInfoList", "MemberInfo")" class="btn bg-blue-300 btn-float btn-float-md btn-rounded @Url.sMakeMenuActive("MemberInfoList", "MemberInfo", "")"><i class="icon-user"></i> <span>@CommonResx.AppMemberInfo</span></a>
                            <a href="@Url.Action("TicketsList", "Tickets")" class="btn bg-blue-300 btn-float btn-float-md btn-rounded @Url.sMakeMenuActive("TicketsList", "Tickets", "")">
                                <i class="icon-comment-discussion"></i>
                                <span>@CommonResx.AppTickets</span>
                            </a>
                            <a href="@Url.Action("NewsList", "News")" class="btn bg-blue-300 btn-float btn-float-md btn-rounded @Url.sMakeMenuActive("NewsList", "News", "")">
                                <i class="icon-newspaper"></i>
                                <span>@CommonResx.AppNews</span>
                            </a>
                            <a href="@Url.Action("EventsList", "Events")" class="btn bg-blue-300 btn-float btn-float-md btn-rounded @Url.sMakeMenuActive("EventsList", "Events", "")">
                                <i class="icon-list-numbered"></i>
                                <span>@CommonResx.AppEvents</span>
                            </a>
                            <a href="@Url.Action("UsersList", "Users")" class="btn bg-blue-300 btn-float btn-float-md btn-rounded @Url.sMakeMenuActive("UsersList", "Users", "")">
                                <i class="icon-users4"></i>
                                <span>@CommonResx.AppUsers</span>
                            </a>
                            <a href="@Url.Action("ApplicationSettingsList", "ApplicationSettings")" class="btn bg-blue-300 btn-float btn-float-md btn-rounded @Url.sMakeMenuActive("ApplicationSettingsList", "ApplicationSettings", "")">
                                <i class="icon-cogs"></i>
                                <span>@CommonResx.AppSettings</span>
                            </a>
                           
                            <a href="@Url.Action("ApplicationInfoList", "ApplicationInfo")" class="btn bg-blue-300 btn-float btn-float-md btn-rounded @Url.sMakeMenuActive("ApplicationInfoList", "ApplicationInfo", "")">
                                <i class="icon-info22"></i>
                                <span>@CommonResx.AppInfo</span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="content">
                    <div id="dvPopUpWindow" style="display:none">
                        <div id="dvPopUpWindowContainer"></div>
                    </div>
                    <div id="dvSystemPopUpWindow" style="display:none">
                        <div id="dvSystemPopUpWindowContainer"></div>
                    </div>
                    @RenderBody()
                </div>

            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    @*System Loader*@
    <div id="fakeloader" style="display:none;opacity: 0.5">
    </div>
    <script>
        var EnumColumnsAlignment = { Center: "Center", Right: "Right", Left: "Left" };
        var EnumColumnsTypes = { TextArea: "textarea", CheckBox: "checkbox", Select: "select" };

        var UlDir = '@CommonResx.LayoutDirectionOpposite';

        var GridViewId = "grid-table";
        var GridViewPagerId = "grid-pager";

         var GridViewResources = {
            Direction: '@GridView.Direction',
            FloatingLeft: '@GridView.FloatingLeft',
            FloatingRight: '@GridView.FloatingRight',
            TextAlign: '@GridView.TextAlign',
            SinglePagerArrowLeft: '@GridView.SinglePagerArrowLeft',
            SinglePagerArrowRight: '@GridView.SinglePagerArrowRight',
            LayoutDirectionOpposite: '@CommonResx.LayoutDirectionOpposite',
            LayoutDirection: '@CommonResx.LayoutDirection'
        }

    </script>

    <!-- Core JS files -->
    @Scripts.Render("~/bundles/CoreScripts")
    <!-- core JS files -->
    <!-- Core Js Utilities -->
    @Scripts.Render("~/bundles/CoreScriptUtilities")
    <!-- core JS Utilities -->

    @if (oBaseController.CurrentApplicationLanguage.Equals(Data.Core.Languages.Arabic))
    {
        <script src='@Url.Content("~/assets/js/jqGrid/i18n/grid.locale-ar.js")'></script>
        <style type="text/css">
            .overgridDiv {
                text-align: left;
            }
        </style>
    }
    else
    {
        <script src='@Url.Content("~/assets/js/jqGrid/i18n/grid.locale-en.js")'></script>
        <style type="text/css">
            .overgridDiv {
                text-align: right;
            }
        </style>
    }
    <script src='@Url.Content("~/assets/js/jqGrid/jquery.jqGrid.src.js")'></script>
    <script src='@Url.Content("~/assets/js/jqGrid/RenderGridView.js")'></script>

    @RenderSection("SpecificPluginScripts", false)
    @RenderSection("InlineScriptsRelated", false)
    <script type="text/javascript">
        function fnGoToApplicationDetais(nApplicationID) {
            var vApplicationID = -99;
            if (nApplicationID != null && nApplicationID != undefined && nApplicationID != -99) {
                vApplicationID = nApplicationID;
            }
            else {
                var gdApplicationist = $('#' + sGridViewSelector);
                vApplicationID = gdApplicationist.jqGrid('getGridParam', 'selrow');
            }

            $.ajax({
                url: '@Url.Action("JSetCurrentApplicationID", "Applications")',
                type: 'POST',
                data: { nApplicationID: vApplicationID },
                async: true,
                success: function (result, response) {
                    if (result.nResult == 1) {
                        url = '@Url.Action("AppDashboard", "ApplicationDashboard")';
                        window.location.href = url;

                    }
                    else {
                        ShowStatusBarNotification(result.sResultMessages, NotificationType.Error);
                    }
                },
                error: function (result, response) {
                    ShowStatusBarNotification(result.sResultMessages, NotificationType.Error);
                }
            });


        }

        $(document).ajaxStart(function () {
            ShowLoader();
        });

        $(document).ajaxStop(function () {
            HideLoader();
        });

        $(document).ajaxSuccess(function () {
            ShowLoader();
        });

        function fnSetLanguage(nLanguageID) {
            var LangPath = '@Url.Action("SetLanguage", "Base")?nLanguageID=' + Number(nLanguageID);
            $.post(LangPath, function () {
                window.location.reload();
            });
        }
    </script>

</body>
</html>